pose_format
tensorflow_datasets
sign-language-datasets
tqdm~=4.63.1
numpy~=1.22.3
pylint
pytest
wandb==0.12.11
pytorch_lightning==1.6.0
torch==1.11.0
fontTools~=4.31.2
pytorch2keras~=0.2.4
torchmetrics~=0.7.3
tensorflow~=2.8.0
opencv-python==4.5.5.64